aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.11.0
attrs==25.3.0
babelfish==0.6.1
beautifulsoup4==4.14.2
certifi==2025.10.5
chardet==5.2.0
charset-normalizer==3.4.3
click==8.3.0
click-option-group==0.5.8
decorator==5.2.1
defusedxml==0.7.1
dogpile.cache==1.4.1
enzyme==0.5.2
fastapi==0.118.0
frozenlist==1.7.0
greenlet==3.2.4
guessit==3.8.0
h11==0.16.0
httptools==0.6.4
idna==3.10
knowit==0.5.11
multidict==6.6.4
platformdirs==4.4.0
propcache==0.4.0
pydantic==2.11.10
pydantic-settings==2.11.0
pydantic_core==2.33.2
pymediainfo==7.0.1
pysubs2==1.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
PyYAML==6.0.3
rebulk==3.2.0
requests==2.32.5
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.43
srt==3.5.3
starlette==0.48.0
stevedore==5.5.0
subliminal==2.4.0
tmdbsimple==2.9.1
tomlkit==0.13.3
trakit==0.2.5
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
uvicorn==0.37.0
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
yarl==1.20.1
